[config]
default_to_workspace = false
skip_core_tasks = true

[env]
TARGET_DIR = "${PWD}/res"
POA_TOKEN_WASM = "${TARGET_DIR}/defuse_poa_token.wasm"

[tasks.default]
alias = "build"

[tasks.clippy]
dependencies = ["build-poa-token"]
command = "cargo"
args = ["clippy", "--workspace", "--all-targets"]

[tasks.build]
dependencies = ["build-defuse", "build-poa-factory", "contract-stats"]

[tasks.build-defuse]
command = "cargo"
args = [
    "near",
    "build",
    "--manifest-path",
    "./defuse/Cargo.toml",
    "--features",
    "abi,contract",
    "--out-dir",
    "${TARGET_DIR}",
    "--no-docker",
    "--no-embed-abi",
]

[tasks.build-poa-factory]
dependencies = ["build-poa-token"]
command = "cargo"
args = [
    "near",
    "build",
    "--manifest-path",
    "./poa-factory/Cargo.toml",
    "--features",
    "contract",
    "--out-dir",
    "${TARGET_DIR}",
    "--no-docker",
    "--no-embed-abi",
]

[tasks.build-poa-token]
command = "cargo"
args = [
    "near",
    "build",
    "--manifest-path",
    "./poa-token/Cargo.toml",
    "--features",
    "contract",
    "--out-dir",
    "${TARGET_DIR}",
    "--no-docker",
    "--no-embed-abi",
]

[tasks.test]
alias = "tests"

[tasks.tests]
dependencies = ["build"]
run_task = "run-tests"

[tasks.run-tests]
command = "cargo"
args = ["test", "--workspace", "--all-targets", "${@}"]

[tasks.clean]
dependencies = ["rm-contracts"]
command = "cargo"
args = ["clean"]

[tasks.rm-contracts]
script = "rm -rf ${TARGET_DIR}"

[tasks.contract-stats]
category = "Tools"
script = "cd ${TARGET_DIR} && du -ah *.wasm"
